.project__image_wallpaper{
    max-width: 700px;
    max-height: 400px;
    margin: 0 50px;
    position: relative;
  }
  @media (max-width:768px) {
    .project__image_wallpaper{
      max-width: 300px;
      max-height: 200px;
      margin: 0 auto;
     }
  }
