.projects__eye{
  background-image: url(../../../images/shape_6.svg);
  width: 100px;
  height: 150px;
  background-repeat: no-repeat;
  position: absolute;
  top: 230px;
  right: 40px;
}

.projects__eye:hover{
  background-image: url(../../../images/shape_4.svg);
  transform:scaleX(-1);
}
