.about__eye{
  background-image: url(../../../images/shape_6.svg);
  width: 100px;
  height: 150px;
  background-repeat: no-repeat;
  position: absolute;
  left: 40px;
  transform: scaleX(-1);
}

.about__eye:hover{
  background-image: url(../../../images/shape_4.svg);
  transform:scaleX(1);
}
@media (max-width:768px) {
  .about__eye{
    display: none;
  }
}
