.music__bubbles{
  background-image: url(../../../images/bubbles.png);
  width: 450px;
  height: 505px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom:-300px;
  right: -80px;

  }
