.music__bubble{
  background-image: url(../../../images/bubble.png);
  width: 400px;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top:135px;
  left: -170px;
  z-index: 2;
  }

  @keyframes rotation {
    from{
      transform: rotate(0deg);
    }
    to{
      transform: rotate(360deg);
    }
  }

  .rotation{
    animation: rotation 8s ease-in-out infinite;
  }
